/* global */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  /* color */
  --color-bg-white: #ffffff;
  --color-black: #333333;
  --color-red-color: #ff4200;
  --color-green-color: #4eac62;
  --color-bg-gray: #efefef;
  /* background */
  /* font weight */
}
.gray_bg {
  background: #f1f5f5;
}
.yello_bg {
  background: #ffcd27;
}
/* universal tags */
* {
  box-sizing: border-box;
}
/* typography */
html,
body {
  background: #fff;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
section {
  width: 100%;
}
.wh_box {
  flex-direction: column;
  position: relative;
  background: #fff;
  border-radius: 1rem;
  padding: 3rem 2rem;
  width: 100%;
}
.box_image {
  width: 10rem;
}
/* layout */
.inner {
  width: 120rem;
  margin: 0 auto;
}
/* 패딩 */
.pb1rem {
  padding-bottom: 1rem;
}
.pb3rem {
  padding-bottom: 3rem;
}
.pt1rem {
  padding-top: 1rem;
}
.mt1rem {
  margin-top: 1rem;
}
.mt2rem {
  margin-top: 2rem;
}
.mt3rem {
  margin-top: 3rem;
}
.zi100 {
  position: relative;
  z-index: 100;
}
/* navbar */
.backbutton {
  display: none;
}
#navbar {
  position: fixed;
  background: transparent;
  width: 100%;
  top: 0;
  padding: 1rem;
  font-weight: 900;
  color: var(--color-black);
  z-index: 1;
  background: #fff;
}

#navbar.navbar--dark img:nth-child(1) {
  transition: all 1s ease;
  opacity: 0;
}
#navbar.navbar--dark img:nth-child(2) {
  transition: all 1s ease;
  opacity: 1;
}
#navbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  position: relative;
  top: -2rem;
}
.navbar__logo img {
  transition: all 1s ease;
  width: 10rem;
  position: absolute;
  top: 0;
}
.navbar__logo img:nth-child(2) {
  opacity: 0;
}
.navbar__menu {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.navbar__menu__item {
  position: relative;
  padding: 0.8rem 1.2rem;
  margin: 0 0.8rem;
  cursor: pointer;
  /* transition: all 1s ease-out; */
}
.navbar__menu__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  margin-top: 4px;
  transition: all 500ms ease-out;
}
.navbar__menu__item:hover {
  color: var(--color-red-color);
}
.navbar__menu__item.active {
  color: var(--color-red-color);
}
.navbar__menu__item.active::after,
.navbar__menu__item:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  margin-top: 4px;

  background: var(--color-red-color);
}
.navbar__toggle {
  display: none;
}
.nav_x {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.nav_x > span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  display: block;
  width: 40%;
  height: 5px;
  background: #333;
  border-radius: 1rem;
}
.nav_x > span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
  display: block;
  width: 40%;
  height: 5px;
  background: #333;
  border-radius: 1rem;
}
.yello__start {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffcd27;
  border-radius: 30rem;
  padding: 1.5rem 7rem;
  border: none;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  z-index: 10;
}
.gray_prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d2d2d2;
  border-radius: 30rem;
  padding: 1.5rem 5rem;
  border: none;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
}
.yello_next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffcd27;
  border-radius: 30rem;
  padding: 1.5rem 5rem;
  border: none;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
}
.yello_div_button {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.del_button {
  width: 50%;
  height: 5rem;
  border-radius: 1rem;
  letter-spacing: -0.2rem;
  border: none;
  background: #fff;
  color: #999;
  border: 1px solid #d2d2d2;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-right: 1rem;
}
.green_button {
  width: 50%;
  height: 5rem;
  border-radius: 1rem;
  letter-spacing: -0.2rem;
  border: none;
  background: #00b427;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-right: 1rem;
}
.yello_button {
  width: 80%;
  padding: 1.5rem;
  border-radius: 3rem;
  letter-spacing: -0.2rem;
  border: none;
  background: #ffcd27;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.gray_modify_button {
  border-radius: 1rem;
  background: #eaeaea;
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
}
.box_final {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  border-radius: 1rem;
  width: 100%;
}
.order_final {
  color: #333;
}
.box_select {
  display: flex;
  align-items: center;
  color: #333;
  letter-spacing: -0.1rem;
  font-size: 3.6rem;
  font-weight: 700;
  padding: 2rem 2rem 0;
}
.box_select img {
  margin-left: 1rem;
  width: 15%;
}
.box_contents {
  padding: 2rem;
  font-size: 1.4rem;
  color: #666;
  font-weight: 400;
  border-bottom: 1px solid #d2d2d2;
}
.box_final > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2rem 2rem 0;
}
.box_final > div:nth-child(3) > span:nth-child(2) {
  font-size: 2.4rem;
  font-weight: 700;
}
.box_final > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.shipping_info {
  padding: 2rem;
}
.order_title_flex {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  color: #999;
  font-size: 1.4rem;
  font-weight: 700;
  border-bottom: 1px solid #d2d2d2;
}
.order_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_subtitle {
  padding: 2rem 2rem 0;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
}
.order_subtitle a {
  text-decoration: none;
  color: #999;
}

.shipping_contents {
  padding: 2rem;
}
.name_div {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}
.name_div > span {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}
.phone {
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
  letter-spacing: -0.1rem;
  padding: 1rem 0;
}
.address {
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
  line-height: 1.2;
  word-break: keep-all;
  letter-spacing: -0.1rem;
}
/* .search_zipcode {
  width: 50%;
  margin-right: 1rem;
  border: 1px solid #eaeaea;
  margin-top: 1rem;
} */
.shipping_select {
  width: 100%;
  border: 1px solid #eaeaea;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  padding: 1rem;
}
.shipping_input {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  height: 10rem;
  color: #999;
  border: 1px solid #eaeaea;
}
.shipping_option {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #999;
  letter-spacing: -0.1rem;
  margin-top: 1rem;
}
.width_input {
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #eaeaea;
}
.width_input::placeholder {
  color: #d2d2d2;
}
.address_input {
  display: none;
}
.address_input.open {
  display: block;
}
.address_modify_button {
  display: none;
}
.address_modify_button.open {
  display: block;
}
.padding2rem {
  padding: 2rem;
}
/* 이름 */
.name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  display: flex;
  align-items: center;
}
/* 배송지관리 */
.shipping_select_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  padding: 2rem;
  padding-top: 7rem;
  letter-spacing: -0.2rem;
}
/* 인풋 */
.input_title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #999;
  padding: 2rem 2rem 0;
}
.input_field {
  margin-bottom: 2rem;
}
.input_field > div {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
}
.input_field > input {
  padding: 1rem;
}
.address_flex {
  display: flex;
  justify-content: space-between;
}
.info_input {
  padding: 2rem;
}
.zipcode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
  margin-top: 1rem;
  color: #333;
  background: #fff;
  border: 1px solid #eaeaea;
}
.zipcode.none {
  display: none;
}
.zipcode img {
  width: 3rem;
  margin-right: 0.5rem;
}
.shipping_text {
  display: block !important;
  padding: 2rem;
}
.payinfo {
  width: 100%;
}
.payinfo ul {
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.2;
  color: #666;
  word-break: keep-all;
}
.payinfo ul li {
  margin-bottom: 1.5rem;
}
.card_number,
.card_date {
  width: 100%;
  margin-top: 2rem;
}
.card_label {
  font-size: 1.4rem;
  font-weight: 700;
  color: #666;
}
.card_number > div {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card_number > div > input {
  width: 22%;
  height: 5rem;
  border: 1px solid #d2d2d2;
}
.card_date div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_date div input {
  margin: 2rem 0;
  padding: 0 1.5rem;
  width: 45%;
  height: 5rem;
  border: 1px solid #d2d2d2;
}
.card_birth input,
.card_password input {
  margin: 2rem 0;
  padding: 0 1.5rem;
  width: 100%;
  height: 5rem;
  border: 1px solid #d2d2d2;
}
.card_birth ul {
  color: #999;
  font-size: 1.2rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.card_design {
  max-width: 30rem;
  width: 25rem;
  height: 17rem;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
}
.card_design div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 배송지 선택 */
.name input[type="radio"] {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2.4rem;
  border: 1px solid #d2d2d2;
  margin: 0;
}
.name input:checked {
  position: relative;
  border: 2px solid #2358eb;
}
.name input:checked::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: #2358eb;
}
.name input[type="checkbox"] + label {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: #fff;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  border-radius: 2.4rem;
}
.name input[type="checkbox"] + label span {
  position: absolute;
  padding-left: 3.5rem;
  display: block;
  font-size: 2rem;
  font-weight: 700;
}
.name input:checked + label span {
  color: #2358eb;
}
.name > label > span {
  margin-left: 0.5rem;
}
/* 카드디자인 */
.shinhan {
  background: #002352;
  color: #fff;
}
.woori {
  background: #169ae4;
  color: #fff;
}
.hyundae {
  background: #333;
  color: #fff;
}
/* 상세보기 dot */
.dot_p {
  position: relative;
}
.dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #999;
}
.dot::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #999;
  position: absolute;
  top: 7px;
}
.dot::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #999;
  position: absolute;
  top: -7px;
}
/* 타이틀 */
.title_name {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 6rem 2rem 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.title_name > div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.title_name > div:nth-child(1) a {
  text-decoration: none;
  color: #333;
}
.title_name > div:nth-child(1) img {
  width: 0.8rem;
  margin: 0 1rem;
}
/* 푸터 */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  text-align: left;
}
footer > div {
  padding: 3rem;
}
footer > div > img {
  max-width: 10rem;
  padding-bottom: 2rem;
  position: relative;
  width: 30%;
}
footer > div > p {
  line-height: 1.5;
}
.sub_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* 모바일 */
@media screen and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  section {
    width: 100%;
  }
  #navbar.navbar--dark .backbutton img {
    opacity: 1;
  }
  #navbar {
    display: block;
    z-index: 10;
    box-sizing: border-box;
    padding: 0;
    height: 5rem;
  }
  #navbar .inner {
    width: 100%;
    height: 100%;
  }
  .navbar__logo {
    display: block;
    position: absolute;
    text-align: center;
    top: 0.5rem;
    left: 2rem;
    z-index: 2;
  }
  .navbar__logo img {
    position: relative;
    width: 12rem;
  }
  .navbar__logo img:nth-child(2) {
    position: absolute;
    width: 12rem;
    left: 0;
  }
  .navbar__menu::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }
  .navbar__menu {
    position: absolute;
    top: 0;
    left: 0;
    left: 100vw;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    flex-direction: column;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
  }
  .navbar__menu.active {
    left: 0;
    opacity: 1;
    visibility: visible;
    background: #fff;
  }
  .navbar__menu__item {
    padding: 1.5rem;
  }
  .navbar__menu__item:last-child {
    padding-bottom: 30rem;
  }
  .navbar__toggle {
    display: block;
    position: absolute;
    top: 0rem;
    right: 1rem;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-self: center;
  }
  .navbar__toggle.open span {
    background: rgba(0, 0, 0, 0);
  }
  .navbar__toggle > span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    height: 4px;
    background: #333;
    color: transparent;
    border-radius: 20rem;
  }
  .navbar__toggle > span::before,
  .navbar__toggle > span::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #333;
    border-radius: 20rem;
    transition: all 0.2s ease;
  }
  .navbar__toggle > span::before {
    top: -7px;
  }
  .navbar__toggle > span::after {
    top: 7px;
  }
  .navbar__toggle.open > span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .navbar__toggle.open > span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
