@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
body {
  overflow-x: hidden;
}
.visual .slide {
  position: relative;
}
.curation_info {
  position: relative;
  height: 100vh;
  padding: 15rem 2rem 0;
  margin: 0 auto;
  display: flex;
}
.curation_info_title {
  display: flex;
}

.wrapper {
  position: relative;
  width: 120rem;
  margin: 0 auto;
  text-align: left;
  justify-content: flex-start;
}
.en_title_p {
  display: flex;
}
.en_title {
  font-family: "Playfair Display", serif;
  font-size: 14rem;
  font-weight: 600;
  color: #111;
  line-height: 1.2;
  flex-shrink: 0;
}
.ko_title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-left: 2rem;
  line-height: 1.5;
  word-spacing: -0.25rem;
  color:#111;
}
.ko_p {
  line-height: 1.6;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.6rem;
  opacity: 0.8;
  word-break: keep-all;
  font-weight:400;
  color:rgba(0,0,0,0.6);
}
.curation_char {
  display: flex;
  align-items: flex-end;
  margin-left: 4rem;
}
.curation_char img {
  width: 50%;
  min-width: 15rem;
  height: auto;
}
.curation_button {
  margin-left: 2rem;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background: transparent;
  border: 1px solid #111;
  font-size: 1.6rem;
  border-radius: 2rem;
  color: #111;
}
.visual .slide li {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.join_plus {
  background: #bdd8ff;
}
.visual .slide li:nth-child(4) {
  background: #ffe9df;
}
.slide_div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}
.slide_title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120rem;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 700;
  z-index: 1;
  text-align: left;
  letter-spacing: -0.2rem;
}
.slide_title > div:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 1.5;
}
.yello_text {
  color: #ff5959;
}
.shine {
  color: #abd500;
}
.pear {
  color: #ffcd27;
}
.yello_join {
  color: #484e99;
}
.appelmango {
  color: #ff2727;
}
.origin {
  font-size: 1.6rem;
}

.slide_img {
  width: 100%;
  height: 100vh;
  min-height: 80rem;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f8fb url(/contents/images/main_slide001.jpg) center center / auto 100%
    no-repeat;
}
.slide_img1 {
  width: 100%;
  height: 100vh;
  min-height: 80rem;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f8fb url(/contents/images/cueatimg.jpg) center bottom / cover
    no-repeat;
}
.visual .slide .slick-dots li {
  width: 15px;
  height: 15px;
  overflow: visible;
}
/*슬라이드버튼*/
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 20;
  background: none;
  width: 11rem;
  height: 5rem;
  border: none;
  font-size: 0;
  color: #333;
}
.slick-next {
  right: 0rem;
}
.slick-prev::before {
  font-size: 2rem;
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.slick-next::before {
  font-size: 2rem;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/*인디케이터*/
.visual .slide .slick-dots {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.visual .slide .slick-dots li {
  width: 2rem;
  height: 2rem;
  float: left;
  margin: 0 1rem;
}
.visual .slide .slick-dots li button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #333;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-indent: -9999px;
}
.visual .slide .slick-dots li.slick-active button {
  background: #ffcd27;
  border: none;
}

/* 메인화면 */
.main__visual {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 10%;
  margin-top: 2rem;
}
.main__visual > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.main__title {
  color: #333;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  line-height: 1.2;
  text-align: center;
}
.main__visual > div > p {
  font-size: 2rem;
  font-weight: 400;
}
.yello_button {
  max-width: 50rem;
}
/*  */
.curation_div1 {
  padding: 10rem 0;
}
.curation_div1_img_wrapper {
  display: flex;
  width: 100%;
  margin-top: 20rem;
}
.curation_div1_img_wrapper div:nth-child(1) {
  display: flex;
  align-items: flex-end;
}
.curation_div1_img_wrapper div + div {
  margin-left: 1.6rem;
}
.curation_div1_img_wrapper div img {
  width: 100%;
}
.curation_div2 {
  position: relative;
  margin-top: 20rem;
  height: 190vh;
}
.curation_div2_wrapper {
  margin-top: 17rem;
}
.curation_div2_text {
  width: 80%;
  margin: 0 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: flex-end;
  line-height: 1.6;
  opacity: 0.8;
  font-weight: 700;
}
.curation_div2_img_wrapper {
  width: 70%;
  height: 80vh;
  overflow: hidden;
  position: absolute;
  left: 40%;
  bottom: 40rem;
}
.curation_div2_img_wrapper img {
  width: 100%;
  transform: scale(1.15);
}
.curation_div3 {
  margin-top: 20rem;
}
.curation_div3_wrapper {
  display: flex;
  position: relative;
}
.curation_div3_text_wrapper {
  width: 100%;
  margin-right: 5rem;
}
.curation_div3_img_wrapper {
  text-align: right;
  height: 70vh;
  overflow: hidden;
  margin-top: 4rem;
}
.curation_div3_img_wrapper img {
  width: 110%;
  position: relative;
  top: -200px;
}
.boxmenu {
  margin-top: 20rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  display: block;
  text-align: left;
  background: #fff;
}
.boxmenu .section__title,
.boxmenu .container {
  max-width: 120rem;
  margin: 0 auto;
}

.section__title {
  margin-top: 2rem;
  text-align: center;
}
.section__title > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.qna .section__title > h2 > img {
  width: 5rem;
  margin-right: 1rem;
}
.section__title p {
  margin-top: 2rem;
  font-size: 1.6rem;
  color:rgba(0,0,0,0.6);
}
/* 탭 */
.tabs {
  display: flex;
  justify-content: center;
  margin: 5rem 0 0;
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  letter-spacing: -0.1rem;
  overflow: hidden;
}
.tab-link.active {
  background: #e2d3ce;
  color: #333;
}
.tab-link {
  padding: 2rem 0;
  font-size: 1.6rem;
  width: 33.34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
}
.tab-link div {
  margin-top: 0.5rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.work__projects.active {
  display: block;
}
.accordion.active,
.accordion:hover {
  background: #fff;
}
.work__projects {
  max-width: 120rem;
  margin: 0 auto;
  display: none;
}
.work__projects img {
  width: 100%;
  height: auto;
}
.boxmenu button {
  display: inline-block;
  font-size: 2rem;
  color: #333;
  letter-spacing: -0.25rem;
  font-weight: 700;
  margin-top: 4rem;
  padding: 1rem 4rem;
  border-radius: 30px;
  border: 3px solid #333;
  background: #fff;
}
.wise__subscription {
  margin: 0 auto;
  max-width: 80rem;
  padding: 20rem 0 20rem;
}
.wise__subscription div:nth-child(1),
.wise__subscription div:nth-child(2) {
  margin-top: 0rem;
}
.wise__subscription div {
  margin-top: 20rem;
}
.wise__subscription div:last-child {
  margin-bottom: 20rem;
}
.wise__subscription img {
  display: block;
  margin-top: 5rem;
  width: 100%;
  margin: 0 auto;
}
.wise__subscription div h3 {
  margin: 4rem 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: 1.5;
  word-break: keep-all;
}
.wise__subscription div p {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.5;
  word-break: keep-all;
  margin-bottom: 5rem;
}
.qna {
  padding-top: 20rem;
  padding-bottom: 15rem;
  background: #fff;
}
.qna_flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10rem 0;
}
.qna_image {
  margin-right: 2rem;
  height: 100%;
  max-height: 50rem;
  overflow: hidden;
}
.qna_flex img {
  width: 100%;
  top: -10rem;
  position: relative;
}
.qna_p {
  width: 50rem;
}
.qna_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  color: #444;
  cursor: pointer;
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.2;
  border-radius: 1rem;
  text-align: left;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  transition: 0.4s;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.accordion {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  padding: 2rem;
  border: none;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
}
.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion.active:after {
  content: "\2212";
}
.panel {
  font-size: 1.4rem;
  padding: 3rem 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.customer_center {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.customer_center > div:nth-child(1) {
  color: #333;
  font-size: 4rem;
}
.customer_center > div:nth-child(2) {
  margin-top: 4rem;
  background: transparent;
  border: 2px solid #333;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.customer_center > div:nth-child(2) a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}
.yello_banner_p {
  width: 100%;
  height: 100%;
  padding: 0rem 0 18rem;
  text-align: center;
}
.yello_banner {
  background: #ffcd27;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 30vh;
  width: 100%;
  min-height: 10rem;
}
.yello_banner > div:nth-child(1) {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  word-break: keep-all;
  line-height: 1.3;
  color: #333;
  flex-shrink: 0;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yello_banner_text {
  margin-right: 4rem;
}
.yello_banner_text > div {
}
.yello_banner_text > div > span {
  font-weight: 700;
}
.yello_banner > .wrapper > div:nth-child(2) {
  width: 30%;
  min-width: 30rem;
  right: 0;
  bottom: 0;
  height: 100%;
}
.yello_banner > .wrapper > div:nth-child(2) img {
  width: 30%;
  position: absolute;
  bottom: 0;
}
.yello_banner > .wrapper > div > button {
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background: #333;
  border: none;
}
.plus_button {
  width: 26rem;
  padding: 2rem;
  border-radius: 3rem;
  letter-spacing: -0.1rem;
  border: none;
  background: #ffcd27;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
/* 정기구독 */
.cueat_visual {
  position: relative;
  width: 100%;
  height: 100%;
}
.wh_text {
  color: #fff !important;
}
.cueat_sub_p {
  display: flex;
  flex-direction: column;
}
.cueat_sub001 {
  display: flex;
  justify-content: space-between;
  margin-top: 30rem;
}
.reverse_flex {
  flex-direction: row-reverse;
}
.cueat_sub001img {
  margin-top: 4rem;
  width: 60%;
}
.cueat_sub002img {
  margin-top: 4rem;
  width: 50%;
}
.cueat_sub001img img,
.cueat_sub002img img {
  width: 100%;
}
.cueat_process_p {
  margin-top: 20rem;
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}
.cueat_process_title {
  font-size: 4rem;
  color: #333;
}
.cueat_process_title span {
  font-weight: 700;
}
.cueat_process {
  display: flex;
  margin-top: 10rem;
}
.cueat_process_div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cueat_process_div > div:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #333;
  border:1px solid #333;
  padding:1rem 2rem;
  border-radius: 10rem;
}
.cueat_process_div img {
  margin-top: 4rem;
  width: 50%;
}
.cueat_process_div > div:nth-child(3) {
  margin-top: 4rem;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* 모바일 */
@media screen and (max-width: 800px) {
  .plus_button {
    width: auto;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }
  .qna_flex {
    flex-direction: column;
  }
  .visual {
    position: relative;
  }
  .visual,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .visual .slide {
    height: 100%;
  }
  .visual .slide li {
    margin-top: 0rem;
    height: 100%;
  }
  .visual .slide .slick-dots {
    bottom: 14%;
  }
  .slide_div {
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .slide_title {
    top: 35%;
    width: 100%;
    padding-left: 2rem;
    font-size: 4rem;
    font-weight: 700;
  }

  .slide_title > div:nth-child(2) {
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 100%;
    word-break: keep-all;
    letter-spacing: -0.1rem;
    color: rgba(0,0,0,0.6);
  }
  .visual .slide .slick-dots li {
    width: 15px;
    height: 15px;
  }
  .slide_img {
    width: 100%;
    height: 100%;
    background: #f9f8fb url(/contents/images/main_slide001.jpg) 80% 70% / 180% auto
      no-repeat;
  }
  .curation_info_title {
    flex-direction: column;
  }
  .wrapper {
    height: auto;
  }
  .en_title_p {
    flex-direction: column;
  }
  .en_title {
    width: 100%;
    font-size: 4rem;
    white-space: normal;
    padding: 2rem 2rem 0;
  }
  .ko_title {
    margin-top: 2rem;
    font-size: 2.4rem;
  }
  .curation_char {
    justify-content: center;
    margin: 5rem 0;
  }
  .curation_info {
    height: auto;
    padding: 10rem 0 0;
  }
  .curation_div1_img_wrapper {
    flex-direction: column;
    margin-top: 4rem;
  }
  .curation_div1_img_wrapper > div + div {
    margin-top: 2rem;
    margin-left: 0;
  }
  .curation_div2 {
    margin-top: 0rem;
    height: 90vh;
  }
  .curation_div3 {
    margin-top:10rem;
  }
  .curation_div2_wrapper {
    margin-top: 0;
    flex-direction: column;
  }
  .curation_div2_text {
    margin-top: 4rem;
  }
  .curation_div2_img_wrapper {
    margin-top: 4rem;
    width: 100vw;
    left: 2rem;
    position: relative;
    height: auto;
    bottom: 0;
  }
  .curation_div2_img_wrapper img {
    width: 100%;
  }
  .ko_p {
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
    width: 100vw;
    white-space: initial;
    font-weight:400;
    font-size:1.4rem;
  }
  .curation_div3_wrapper {
    display: flex;
    flex-direction: column;
  }
  .curation_div3_img_wrapper {
    width: 100vw;
  }
  .yello_button {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffcd27;
    border-radius: 0rem;
    padding: 1.5rem 7rem;
    border: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: -0.2rem;
    z-index: 1;
  }
  .boxmenu {
    padding: 10rem 0 0;
    margin:0;
  }
  .tabs{border-radius:0;}
  .tab-link{font-size:1.4rem;}
  .tab-link div{font-size:2rem;}
  .section__title > h2 {
    font-size: 2.8rem;
  }
  .section__title p {
    font-size: 1.4rem;
  }

  .wise__subscription {
    padding: 10rem 0 2rem;
  }
  .wise__subscription div p {
    padding: 0 2rem;
    margin-bottom: 10rem;
  }
  .wise__subscription div {
    margin-top: 8rem;
  }
  .wise__subscription div h3 {
    padding: 0 2rem;
    margin: 2rem 0;
  }
  .wise__subscription div:last-child {
    margin-bottom: 5rem;
  }
  .work__projects.active {
    display: block;
  }
  .yello_banner_p {
    padding: 0;
    height: auto;
    margin-top: -1px;
  }
  .yello_banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffcd27;
  }
  .yello_banner > div:nth-child(1) {
    width: 100vw;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: -0.15rem;
    word-break: keep-all;
    line-height: 1.3;
    font-weight: 700;
    color: #333;
    text-align: center;
  }
  .yello_banner_text {
    margin: 0;
  }
  .yello_banner > .wrapper > div:nth-child(2) {
    display: none;
  }
  .yello_banner > button {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background: #333;
    border: none;
  }
  .qna {
    padding: 0;
  }
  .qna .section__title {
    color: #111;
    margin-top: 0;
    padding: 10rem 0 4rem;
  }
  .qna .section__title h2 img {
    width: 5rem;
  }
  .qna_flex {
    flex-direction: column;
    margin: 0;
    padding: 0 0 5rem 0;
  }
  .qna_image {
    width: 100%;
    margin: 0;
  }
  .qna_flex img {
    top:-5rem;
    margin: 0;
  }
  .qna_p {
    width: 100%;
    margin: 0 auto;
  }
  .chat_div {
    position: fixed;
    bottom: 8rem;
    text-align: right;
    z-index: 100;
  }
  .chat_div > img {
    width: 25%;
    padding: 0 1rem 0 0;
  }
  .customer_center {
    padding: 5rem 2rem;
  }
  .customer_center > div:nth-child(1) {
    font-size: 2.6rem;
  }
  .cueat_sub001 {
    flex-direction: column;
    width: 100%;
    margin-top: 15rem;
  }
  .cueat_sub001img {
    width: 100vw;
  }
  .cueat_sub002img {
    width: 100vw;
  }
  .cueat_process_p {
    margin-top: 0rem;
    padding: 10rem 0;
    width: 100%;
  }
  .cueat_sub_p > div:nth-child(1){
    margin-top:20rem;
  }
  .cueat_process_title {
    font-size: 2.4rem;
  }
  .cueat_process {
    width: 100vw;
    flex-direction: column;
  }
  .cueat_process div + div {
    margin-top: 10rem;
  }
  .cueat_process_div img {
    margin-top: 2rem;
    width: 40%;
  }
  .cueat_process_div > div:nth-child(3){margin-top:2rem}
  .slide_img1{background: #f9f8fb url(/contents/images/cueatimg.jpg) 45% bottom / auto 120% no-repeat;
}
  footer {
    position: relative;
  }
}
