.yello_bg {
  background: #ffcd27;
}
.my_box {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  width: 100%;
  margin-top: 2rem;
  cursor: pointer;
  border-bottom: 2px solid #d2d2d2;
}
.wh_box {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  border-radius: 1rem;
  width: 90%;
  margin: 2rem auto 0;
  padding: 0;
  border: 1px solid #d2d2d2;
  color: #333;
  outline: none;
}
.wh_box a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #333;
}
.order_box {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}
.mypage section:nth-child(2) {
  margin-top: 2rem;
}
.home_menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  border-radius: 1rem;
  width: 100%;
  padding: 0;
  color: #333;
  outline: none;
}
.home_menu a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #333;
}
.mypage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  letter-spacing: -0.1rem;
  margin: 0 auto;
}
.myname {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.myname div:nth-child(1) {
  display: flex;
  align-items: center;
}
.myname div:nth-child(1) > span:nth-child(1) {
  margin-right: 0.5rem;
}
.myname_sub {
  display: flex;
  align-items: center;
}
.myname_sub > span:nth-child(2) {
  background: #ffcd27;
  padding: 0.6rem 0.6rem;
  display: flex;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  align-items: center;
  margin-left: 1rem;
}
.myname_sub > span:nth-child(2) > span {
  margin-left: 0.2rem;
}
.myname_sub > span > img {
  width: 1.5rem;
}
.myname > img {
  width: 3%;
}
.myinfo {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.4rem;
}
.myinfo > div:nth-child(1) {
  display: flex;
  font-weight: 700;
  color: #333;
  align-items: center;
}
.myinfo > div:nth-child(1) > img {
  width: 1rem;
  margin-right: 0.5rem;
}
.myinfo > div:nth-child(2) {
  margin-top: 1rem;
  font-weight: 700;
  color: #333;
  font-size: 2rem;
  letter-spacing: 0;
}
.my_manage {
  display: flex;
  font-size: 1.4rem;
}
.shipping_manage,
.card_manage {
  display: flex;
  width: 40%;
}
.shipping_manage {
}
.shipping_manage a,
.card_manage a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem 3rem;
  text-decoration: none;
  color: #999;
}

.shipping_manage > a > div:nth-child(2),
.card_manage > a > div:nth-child(2) {
  width: 0.7rem;
  margin-left: 0.5rem;
}
.mypage_title {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #333;
  font-weight: 700;
  padding: 2rem;
  justify-content: space-between;
  letter-spacing: -0.1rem;
}
.mypage_title > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.more_button {
  display: flex;
  white-space: nowrap;
  background: #eaeaea;
  color: #0099ff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.product_list {
  padding: 2rem 2rem 0;
  font-size: 1.6rem;
}
.mypage_title > div > img {
  width: 3rem;
}
.mypage_title > div:nth-child(1) > div {
  margin-left: 1rem;
}
.myproduct {
  padding: 2rem;
  display: flex;
}
.sub_list > .myproduct {
  padding: 0;
}
.myproduct > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}
.product_title {
  font-size: 1.4rem;
  color: #999;
}
.my_button {
  display: flex;
  padding: 0.5rem 1rem;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  justify-content: center;
  letter-spacing: -0.15rem;
}

.subscribe_button {
  display: flex;
  padding: 0.5rem 1rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  justify-content: center;
  letter-spacing: -0.15rem;
  margin-left: 1rem;
}
.sub_history {
  display: flex;
}
.sub_history_btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  background: #fff;
  border: 1px solid #d2d2d2;
}
.subscribe_toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
  background: #bdc1c8;
}
.handle {
  position: absolute;
  top: 50%;
  left: 0.4rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background: #fff;
  transition: all 0.2s linear;
}
.subscribe_toggle.active {
  background: #ffcd27;
}
.subscribe_toggle.active > .handle {
  left: 50%;
}
.sub_info > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #999;
  border-bottom: 1px solid #eaeaea;
}
.subtoggletxt_p {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
}
.sub_list {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.sub_list > div > span:nth-child(2) {
  margin-left: 1rem;
}
.sub_list > div > span > span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.sub_list > div:nth-child(2) {
  margin-top: 4rem;
  text-align: right;
  font-size: 2.6rem;
  color: #333;
}
.sub_list > div:nth-child(2) > span {
  font-size: 2rem;
}
.shipping_request {
  font-size: 1.4rem;
  color: #999;
  padding: 1rem 2rem 2rem;
}
/* 주문내역 */
.order_history_info {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.sub_round {
  font-size: 1.6rem;
  font-weight: 700;
}

.order_history_space {
  margin-top: 2rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.order_cost {
  font-size: 1.6rem;
  font-weight: 700;
}
.delivery_div {
  text-align: right;
  border-top: 1px solid #eaeaea;
  padding: 2rem 0 0;
}
.delivery_tracking {
  border: 1px solid #ccc;
  background: #ffe2e2;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
/* 주문내역 */
.order_wrap {
  font-size: 1.6rem;
  font-weight: 700;
}
.order_date {
  padding: 1rem 0;
}
.pay_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #999;
  border-bottom: 1px solid #eaeaea;
}
/* 배송지 관리 */
.shipping_manage_modify {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delivery_add {
  display: block;
  width: 100%;
  height: 5rem;
  border: 1px solid #d2d2d2;
  border-radius: 1rem;
  background: #fff;
  font-size: 1.6rem;
  font-weight: normal;
}
.delivery_modify_button {
  display: block;
  width: 45px;
  height: 3.5rem;
  margin-left: 8px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  background: #fff;
  color: #333;
  font-size: 12px;
  font-weight: normal;
}
/* 탈퇴페이지 */

.secession {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 2rem;
  text-align: center;
  box-sizing: border-box;
}
.secession h1 {
  font-size: 2.4rem;
  font-weight: 700;
  word-break: keep-all;
}
.secession div {
  margin-top: 2rem;
  font-size: 1.6rem;
  word-break: keep-all;
}
@media screen and (max-width: 450px) {
}
