html {
  font-size: 10px;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
select {
  /*ios대응*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrow.svg") no-repeat 95% 50%/10px 10px #fff; /*화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}
select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}
.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  padding: 2rem;
  padding-top: 7rem;

  letter-spacing: -0.2rem;
}
.order > div:nth-child(1) {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

/* 원운동 */
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.circle > div:nth-child(1) {
  position: absolute;
  top: 15%;
  left: 4%;
  width: 2rem;
  height: 2rem;
  background: #4eac62;
  border-radius: 50%;
  animation: mymove 2s ease-out infinite;
}
.circle > div:nth-child(2) {
  position: absolute;
  top: 30%;
  right: 15%;
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 50%;
  border: 12px solid #ff4200;
  animation: mymove2 2500ms ease-out infinite;
}
.circle > div:nth-child(3) {
  position: absolute;
  top: 70%;
  left: 2%;
  width: 1.5rem;
  height: 1.5rem;
  background: #330972;
  border-radius: 50%;
  animation: mymove3 3300ms ease-out infinite;
}
.circle > div:nth-child(4) {
  position: absolute;
  bottom: 20%;
  right: 2%;
  width: 7rem;
  height: 7rem;
  background: #f98700;
  border-radius: 50%;
  animation: mymove4 2800ms ease-out infinite;
}
@keyframes mymove {
  0% {
    left: 4%;
  }
  50% {
    left: 1%;
    top: 20%;
    transform: scale(1.2);
  }
  100% {
    left: 4%;
  }
}

@keyframes mymove2 {
  0% {
    right: 15%;
  }
  50% {
    right: 18%;
    top: 28%;
  }
  100% {
    right: 15%;
  }
}
@keyframes mymove3 {
  0% {
    left: 2%;
  }
  30% {
    left: 4%;
    top: 75%;
  }
  60% {
    left: 6%;
    top: 68;
  }
  100% {
    left: 2%;
  }
}
@keyframes mymove4 {
  0% {
    right: 3%;
  }
  50% {
    right: 0%;
    bottom: 17%;
  }
  100% {
    right: 3%;
  }
}
.nav_x {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.nav_x > span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  display: block;
  width: 50%;
  height: 5px;
  background: #333;
  border-radius: 1rem;
}
.nav_x > span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
  display: block;
  width: 50%;
  height: 5px;
  background: #333;
  border-radius: 1rem;
}
.survey_nav {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray_bar {
  width: 100%;
  height: 1rem;
  background: #eaeaea;
  border-radius: 1rem;
}
.yellow_bar {
  width: 0;
  height: 100%;
  background: #ffcd27;
  transition: all 0.3s ease;
}
.per25 {
  width: 25%;
}
.per50 {
  width: 50%;
}
.per75 {
  width: 75%;
}
.per100 {
  width: 100%;
}
.health_survey_p {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7rem;
}
.health_survey_p .desc {
  margin-bottom: 10%;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: #999;
}
.main__survey {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 7rem);
  margin-top: 7rem;
}
.main__survey > .content {
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.login__button {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: none;
  border-radius: 3rem;
}
.login__button button:nth-child(1) {
  margin-right: 2rem;
}
.kakao__login {
  background: #fae300;
}
.kakao__login span:nth-child(1),
.naver__login span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.kakao__login span:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.15rem;
}
.naver__login span:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.15rem;
}
.naver__login {
  margin-top: 1rem;
  background: #01c73c;
}
.main__result {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7rem;
  padding: 3rem;
}
.health_survey_p .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 90%;
}
.folder_img {
  width: 40% !important;
}
.main__survey .content img {
  width: 70%;
  height: auto;
}
.main__survey .content > img {
  margin-bottom: 5%;
}
.main__survey .content h3,
.health_survey_p .content h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  color: #333;
  word-break: keep-all;
}
.main__survey .content h3 span,
.health_survey_p .content h3 span {
  font-weight: 400;
  display: block;
}
.main__survey .content h3 span:last-child,
.health_survey_p .content h3:last-child {
  font-weight: 700;
  position: relative;
  z-index: 10;
}
.underbar::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.5rem;
  width: 65%;
  height: 2rem;
  background: #ffe58f;
  border-radius: 5px;
  z-index: -1;
  animation: underbar 2s ease;
}
@keyframes underbar {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

.main__survey .content .desc {
  margin-bottom: 10%;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: #999;
}
.main__survey .content .desc__deco {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #999;
}
.form_name_p {
  text-align: right;
  max-width: 50rem;
}
.form_name {
  width: 100%;
  height: 5rem;
  color: #333;
  line-height: 1.3;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Noto Sans Korean", sans-serif;
  border: 0;
  padding: 2rem;
  border: 3px solid #d2d2d2;
  border-radius: 3rem;
  outline: none;
}
.form_name:focus {
  border: 3px solid #ed2e1b;
}
.jump_button {
  display: inline-block;
  margin-top: 2rem;
  text-align: right;
  font-size: 1.6rem;
  color: #999;
}
.button_div {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.button_div > button:nth-child(1) {
  margin-right: 1rem;
}
.health_survey {
  color: #d2d2d2;
  display: flex;
  justify-content: center;
  position: relative;
}
.health_survey + .health_survey {
  margin-top: 4rem;
}
.health_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.health_div > img {
  width: 50% !important;
  margin: 0 auto;
  filter: grayscale(1);
  transition: all 0.3s linear;
}
.health_div > img.open {
  filter: grayscale(0);
}
.health_check {
  position: relative;
  text-align: center;
}
.health_check input[type="checkbox"] {
  display: none;
}
.health_check input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
  color: #d2d2d2;
  transition: all 0.3s linear;
}
.health_check input[type="checkbox"] + label span {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}

.health_check input[type="checkbox"]:checked + label {
  color: #333;
}
.disagree_check {
  display: flex;
  width: 60%;
  margin-top: 2rem;
}
.agree_check input[type="checkbox"],
.disagree_check input[type="checkbox"] {
  display: none;
}
.agree_check input[type="checkbox"] + label,
.disagree_check input[type="checkbox"] + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  border-radius: 25px;
  float: left;
}
.agree_check::after,
.disagree_check::after {
  display: block;
  clear: both;
  content: "";
}

.agree_check input[type="checkbox"] + label span,
.disagree_check input[type="checkbox"] + label span {
  position: absolute;
  padding-left: 3.5rem;
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

.agree_check input[type="checkbox"]:checked + label {
  background: url(../images/survey_agree.svg) #00b327 no-repeat 4px 4.5px/14px
    14px;
  color: #00b327;
}
.disagree_check input[type="checkbox"]:checked + label {
  background: url(../images/survey_x.svg) #ff0000 no-repeat 2.4px 2.8px/20px
    20px;
  float: left;
  color: #ff0000;
}
.final_survey {
  position: absolute;
  bottom: 5rem;
  width: 100%;
}
/* 이름관련 */
input::-webkit-input-placeholder {
  color: #d2d2d2;
}
.name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
}
.width_input {
  font-size: 1.6rem;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #eaeaea;
}
.name_div > button {
  border-radius: 1rem;
  background: #eaeaea;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
}
.phone {
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
  letter-spacing: -0.1rem;
}

.modify_button {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  padding: 1rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 700;
  background: #ffcd27;
  border: none;
  border-radius: 2rem;
  justify-content: center;
  letter-spacing: -0.15rem;
}
.order_final > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}
.order_button {
  margin-top: 2rem;
  color: #777;
  background: #fff;
  border: 1px solid #777;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 2rem;
  letter-spacing: -0.2rem;
}
.card {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #d2d2d2;
}
.card > label {
  pointer-events: none;
}
.card > input,
.optional_title > input {
  border: 1px solid #d2d2d2;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
}
.card > input:checked,
.optional_title > input:checked {
  border: none;
  background: url(../images/survey_agree.svg) #00b327 no-repeat 5px 5px/14px
    14px;
}

.optional_title > input:checked + label {
  color: #00b327;
}

.pay_collection > div.checked {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  border: 1px solid #ffcd27;
}
.card_enrollment {
  display: none;
}
.card_enrollment.open {
  display: block;
}
.card_enrollment > div {
  padding: 1rem;
}
.shipping_select_title {
  font-family: no;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.swiper-container {
  width: 100%;
  height: 25rem;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.gray_modify_button {
  border-radius: 1rem;
  background: #eaeaea;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
}
.modify_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card_design div span:nth-child(2) {
  letter-spacing: 0.1rem;
}
/* 배송지 검색 */
.zipcode_title {
  font-size: 2.4rem;
}
.zipcode_div {
  display: flex;
}
.zipcode_div > input {
  width: 90%;
  padding: 1rem;
  border: 1px solid #999;
  font-family: "Noto Sans KR", sans-serif;
}
.zipcode_tip {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #999;
}
.search_ico {
  background: #999;
  width: 20%;
  border: none;
}
.search_ico img {
  width: 70%;
}
.address_div {
  display: flex;
  margin-top: 2rem;
  border: 1px solid #999;
  padding: 1rem;
  font-size: 1.6rem;
  align-items: center;
  background: #fff;
}
.address_div h5 {
  font-size: 1.8rem;
  color: #006cf8;
  margin-right: 2rem;
}
.address_div > ul > li {
  display: flex;
  line-height: 1.5;
}
.address_div > ul > li:nth-child(1) {
  margin-bottom: 2rem;
}

.address_div > ul > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d2d2d2;
  color: #333;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  word-break: keep-all;
}
.address_div > ul > li > div {
  font-size: 1.4rem;
  color: #333;
  font-weight: 500;
}
.address_div > ul > li:nth-child(2) > span {
  padding: 0 1.5rem;
}
.celebration {
  max-width: 120rem;
  width: 100%;
  height: 100%;
}
.recommend {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}
.recommend_box {
  padding: 5rem 2rem;
  border-bottom: 1px solid #eaeaea;
}
.recommend > div {
  font-size: 2rem;
  letter-spacing: -0.15rem;
  line-height: 1.3;
  font-weight: 700;
  color: #333;
  margin-right: 2rem;
}
.recommend > div > span {
  font-size: 2.5rem;
  font-weight: 900;
}
.recommend_img {
  width: 30% !important;
}
.recommendbox_title {
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: -0.15rem;
  z-index: 3;
}
.recommendbox_title::after {
  position: absolute;
  top: -1rem;
  right: -3rem;
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  background: #4eac62;
  z-index: -1;
}
.recommend_text1 {
  display: inline-block;
  font-size: 2.5rem;
  margin-top: 3rem;
  letter-spacing: -0.15rem;
  color: #f37724;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f37724;
}
.recommend_text2 {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #999;
  letter-spacing: -0.15rem;
  line-height: 1.3;
}
.result_modify {
  display: none;
}
.result_size {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem 0;
}
.result_title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.15rem;
}
.result_radio {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.result_radio > span {
  color: #333;
  margin-right: 1rem;
  font-weight: 700;
}
.result_radio input {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  margin-right: 0.5rem;
}
.result_radio > input:checked {
  border: 2px solid #ffcd27;
}
.result_radio > input:checked:before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: #ffcd27;
}
.result_composition {
  padding: 5rem 2rem 3rem;
  display: flex;
  flex-direction: column;
}
.preference {
  margin-top: 2rem;
}
.preference > .agree_check {
  margin-bottom: 2rem;
}
.purchase_tabs ul {
  display: flex;
  justify-content: center;
  margin: 5rem 0 0;
  background: #f1f1f1;
}
.purchase_tabs ul {
  display: flex;
  justify-content: center;
  margin: 5rem 0 0;
  background: #f1f1f1;
}
.tab-link.active {
  background: #ff4200;
  color: #fff;
}
.tab-link {
  padding: 2rem 0;
  font-size: 1.8rem;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #333;
}
.work__projects {
  display: none;
}
.work__projects.active {
  display: block;
}
.accordion.active,
.accordion:hover {
  background: #fff;
}
.work__projects {
  max-width: 160rem;
  margin: 0 auto;
  display: none;
  border-bottom: 1px solid #d2d2d2;
}
.shipping_cycle {
  padding: 5rem 2rem 0;
}
.shipping_date {
  padding: 5rem 2rem;
}
.result_cost {
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 2rem;
  letter-spacing: -0.15rem;
  color: #333;
}
.week_cost {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
}
.week_cost > span:nth-child(1) {
  font-size: 2rem;
  margin-right: 1rem;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.optional_title {
  display: flex;
  padding: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  align-items: center;
}
.optional_title label {
  pointer-events: none;
}
.optional {
  display: none;
}
@media screen and (max-width: 450px) {
  .main__survey .content h3,
  .health_survey_p .content h3 {
    font-size: 2.5rem;
  }
  .login__button {
    flex-direction: column;
  }
}
